node_modules/
.next/
out/
dist/
.astro/
.env
.env.local
*.DS_Store
*:Zone.Identifier
resources/video/*.mp4
resources/documents/*.docx
resources/documents/*.pdf
resources/graphics/Visual-Prompt-Images/The\ New\ Testament_\ A\ New\ Covenant.pdf
resources/documents/~$*
